    <div class="container mt-4 bootstrap snippets bootdey">
                <div class="row gx-5">
      <div class="col-md-3 mb-4">
        <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
          <img src="/static/images/{{ news_item[4] }}" class="img-fluid" />
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">{{ news_item[2] }}</span>
        <h4><strong>{{ news_item[1] }}</strong></h4>
        <p class="text-muted">{{ news_item[3] }}</p>
      </div>
    </div>
    </div>
